<h1>Edit this Message</h1>

<%= form_for(@messages) do |f| %>
  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  
  <div class="field">
    <%= f.label :active %>
    <%= f.text_field :active %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>