 <div class="col-md-4">
  
  <div class="card mb-4 box-shadow" data-id="<%= portfolio_item.id %> ">
   <%= image_tag portfolio_img(portfolio_item.thumb_image_url, 'thumb'), width: '100%' %> 
   <div class="card-body">
    <p class="card-text">
     <spend><%= link_to portfolio_item.title, portfolio_show_path(portfolio_item) %></spend> <%= portfolio_item.subtitle %>
    </p>
    <div class="d-flex justify-content-between align-items-center">
     <div class="btn-group">
       <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "Edit", edit_portfolio_path(portfolio_item.id) if logged_in?(:site_admin) %></button>
       <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'Delete', portfolio_path(portfolio_item), method: :delete, data: { confirm: 'Are you sure?' } if logged_in?(:site_admin) %></button>
     </div>
     <small class="text-muted">9 mins</small>
    </div>
   </div>
  </div>
 
 </div>
 
 
<!-- <p><#%= portfolio_item.body %></p>-->
 
 
 
 
