<h1>Create a new User</h1>
  
<%= form_for(@user) do |f| %>
 <div class="field">
  <ul>
    <%= f.fields_for :users do |user_form| %>
    <li>
      <%= user_form.label :name %>
      <%= user_form.text_field :name %>
    </li>
    <% end %>
  </ul>
 </div>

<div class="actions">
  <%= f.submit %>
</div>

<% end %>