<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    
    <meta name="keywords" content=<%= @seo_keywords %> />
    
    <%= favicon_link_tag 'favicons/favicon.ico' %>
 
    <%= stylesheet_link_tag    'guides', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Start for nav -->
    <div class="container">
      <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 pt-1">
            <a class="text-muted" href="#">Subscribe</a>
          </div>
          <div class="col-4 text-center">
            <a class="blog-header-logo text-dark" href="#">Large</a>
          </div>
          <div class="col-4 d-flex justify-content-end align-items-center">
            <a class="text-muted" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
            </a>
            <a class="btn btn-sm btn-outline-secondary" href="#">Sign up</a>
          </div>
        </div>
      </header>

    <%= render 'shared/guide_nav' %>
    </div>
    
    <!-- End for nav -->
    <%= render 'shared/guide_masthead' %>
    
    
    <!-- start of container and row element-->
    <main role="main" class="container">
      <div class="row">
    <!-- start of container and row element -->
        <%= yield %>
        
        <!--start  of sidebar -->
        <%= render 'shared/guide_sidebar' %>
        <!-- end of sidebar -->
      </div>  <!-- start of footer -->
        <%= render 'shared/guide_footer' %>
        <!-- end of footer -->
        <%= alerts %>
        
        <%= render "shared/nav", location: 'bottom' %>
        
        <%#= source_helper("guide") %>
      
    </main>
  </body>
</html>